*{
  margin:0;
}
body{
  background-color: skyblue;
  color: purple;
}
/*  */
header{
  color:purple;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.header_right{
  width: 30%;
}
.header_right img{
  width:70%;
}
.navbar{
  list-style-type: none;
  padding-left: 0;


}
.navbar li{
  display: inline-block;
  padding: 10px;
  border: 2px solid green;

}
.navbar li a{
  color:rgba(103, 18, 111, 0.93);
}
.section_row{
  display: flex;
  justify-content: space-between;


}
.example_container{
  width: 30%;
  border: 2px solid green;
  padding: 10px;
  box-sizing: border-box;

}
.example_text{

}
.example_container img{
  width: 100%;
}
.footer_left{

}
.navbar{background-color: skyblue;}
.Main{background-color: skyblue;}
footer{
padding: 10px;
background-image: url("../assets/dajourpurplewave.jpeg");
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
background-color: rgb(14, 233, 95);
margin-top: 20px;
display: flex;
justify-content: space-between;

}

.footer_left ul, .footer_right ul{
  list-style-type: none;
  padding-left: 0;

}
.footer_left li{

}
.footer_left a, .footer_right a{
  color: purple;

}
.footer_right li{text-align: right;}

/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

.bgimg {
  /* Background image */
  background-image: url('assets/dajourpurplewave.jpeg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
.YouTube {  color:purple;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;

}
.soundcloud{  color:purple;
  padding: 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;

}
